/*body {*/
/*    font-family: ;*/
/*}*/

.nav-text {
    font-size: 13px;
}

.left-text {
    font-size: 13px;
}

.left-img {
    width: 100%;
    border: 1px solid lightgray;
}

.bottom-img {
    width: 19.3%;
}

.dropdown-item {
    font-size: 13px;
}

p, li {
    text-align: justify;
}

.td-place {
    text-align: center;
}

th, td {
    font-size: 13px;
}

