.nav-text, .left-text, .dropdown-item, th, td {
    font-size: 13px;
}

.left-img {
    width: 100%;
    border: 1px solid lightgray;
}

p, li {
    text-align: justify;
}

.td-place {
    text-align: center;
}

.version {
    font-size: 16px;
}

.rukovodst {
    font-size: 16px;
}

.rukovodst-table {
    border: 1px solid black;
}