{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8">
  <div class="text-center">
    <p class="my-2">Муниципальное казенное дошкольное образовательное учреждение детский сад №50 "Ромашка"</p>
    <img src="{% static 'img/sadik.jpg' %}" style="width: 60%">
  </div>
  <h4 class="mt-2">Дата создания образовательной организации:</h4>
  <p>00.00.2020г.</p>
  Учредитель образовательной организации:
  МУ «Управление образования администрации г. Пятигорска»
  Адрес учредителя: 357500, Ставропольский край, г. Пятигорск, пл. Ленина, 2
  Телефон приемной: 8 (8793) 33-29-15.
  Официальный сайт: http://gorono26.ru
  Начальник управления образования:
  Васютина Наталья Алексеевна
  Часы приема граждан: понедельник с 16.00 до 18.00, каб. 215
  Телефон 8 (8793) 33-29-15
  Главный специалист управления образования:
  Исайкина Анна Николаевна
  Часы приема граждан: ежедневно с 9.00 до 18.00, каб. 221
  Телефон 8 (8793) 33-21-98
  Ведущий специалист управления образования:
  Луштей Екатерина Андреевна
  Часы приема граждан: ежедневно с 9.00 до 18.00, каб. 221
  Телефон 8 (8793) 33-21-98
  Сведения об образовательной организации:
  Полное наименование: Муниципальное казенное дошкольное образовательное учреждение детский сад №50 «Ромашка».
  Сокращенное наименование: МКДОУ детский сад №50 «Ромашка».
  Юридический/фактический адрес: 357500, Ставропольский край, город-курорт Пятигорск, станица Константиновская, ул. Шоссейная, здание 80.
  Режим и график работы: понедельник – пятница с 7.00 до 19.00
  Выходные дни: суббота, воскресенье, праздничные дни.
  Контактные телефоны:
  Адрес электронной почты:
  Заведующая детского сада: Ачакова Нонна Викторовна
  Режим работы заведующего: понедельник - пятница с 8.00 до 17.00
  Выходные дни: суббота, воскресенье, праздничные дни.
  Контактный телефон: 8 962 741 25 13
  Добраться до детского сада можно общественным транспортом:
  маршрутным такси, автобусом №№ 14,14А до остановки «Почтовая»
  Реквизиты образовательной организации:
  ИНН 2632117247       КПП 263201001
  ОКВЭД 85.11      ОГРН 1202600018807        ОКТМО 07727000000
  Тип средств:
  04.02.04 – родительская плата;
  04.02.01 – платные услуги
  КБК 60600000000000000130 – оплата за детский сад
  Банковские реквизиты:
  Наименование банка: Отделение Ставрополь Банка России
  Кор/сч 40102810345370000013
  БИК 010702101
  Р/сч 03231643077270002100
</div>
{% endblock %}
