{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <div class="text-center">
    <p class="my-2 text-center">Муниципальное казенное дошкольное образовательное учреждение детский сад №50 "Ромашка"</p>
    <img src="{% static 'img/sadik.jpg' %}" style="width: 60%">
  </div>
  <h4 class="mt-2">Дата создания образовательной организации:</h4>
  <p>30.12.2020г.</p>
  <h4>Учредитель образовательной организации:</h4>
  <h5>МУ «Управление образования администрации г. Пятигорска»</h5>
  <h6>Адрес учредителя: 357500, Ставропольский край, г. Пятигорск, пл. Ленина, 2</h6>
  <h6>Телефон приемной: 8 (8793) 33-29-15.</h6>
  <h6>Официальный сайт: <a href="http://gorono26.ru" target="_blank">http://gorono26.ru</a></h6>
  <h5>Начальник управления образования:</h5>
  <h6>Васютина Наталья Алексеевна</h6>
  <h6>Часы приема граждан: понедельник с 16.00 до 18.00, каб. 215</h6>
  <h6>Телефон 8 (8793) 33-29-15</h6>
  <h5>Главный специалист управления образования:</h5>
  <h6>Исайкина Анна Николаевна</h6>
  <h6>Часы приема граждан: ежедневно с 9.00 до 18.00, каб. 221</h6>
  <h6>Телефон 8 (8793) 33-21-98</h6>
  <h5>Ведущий специалист управления образования:</h5>
  <h6>Луштей Екатерина Андреевна</h6>
  <h6>Часы приема граждан: ежедневно с 9.00 до 18.00, каб. 221</h6>
  <h6>Телефон 8 (8793) 33-21-98</h6>
  <h4>Сведения об образовательной организации:</h4>
  <h6>Полное наименование: Муниципальное казенное дошкольное образовательное учреждение детский сад №50 «Ромашка».</h6>
  <h6>Сокращенное наименование: МКДОУ детский сад №50 «Ромашка».</h6>
  <h6>Юридический/фактический адрес: 357500, Ставропольский край, город-курорт Пятигорск, станица Константиновская, ул. Шоссейная, здание 80.</h6>
  <h6>Режим и график работы: понедельник – пятница с 7.00 до 19.00</h6>
  <h6>Выходные дни: суббота, воскресенье, праздничные дни.</h6>
  <h6>Контактные телефоны:8 (8793) 41-11-47</h6>
  <h6>Адрес электронной почты: doy50@yandex.ru</h6>
  <h6>Заведующая детского сада: Ачакова Нонна Викторовна</h6>
  <h6>Режим работы заведующего: понедельник - пятница с 8.00 до 17.00</h6>
  <h6>Выходные дни: суббота, воскресенье, праздничные дни.</h6>
  <h6>Контактный телефон: 8 962 741 25 13</h6>
  <h6>Добраться до детского сада можно общественным транспортом:
  маршрутным такси, автобусом №№ 14,14А до остановки «Почтовая»</h6>
  <h4>Реквизиты образовательной организации:</h4>
  <h6>ИНН 2632117247       КПП 263201001</h6>
  <h6>ОКВЭД 85.11      ОГРН 1202600018807        ОКТМО 07727000000</h6>
  <h6>Тип средств:</h6>
  <h6>04.02.04 – родительская плата;</h6>
  <h6>04.02.01 – платные услуги</h6>
  <h6>КБК 60600000000000000130 – оплата за детский сад</h6>
  <h5>Банковские реквизиты:</h5>
  <h6>Наименование банка: Отделение Ставрополь Банка России</h6>
  <h6>Кор/сч 40102810345370000013</h6>
  <h6>БИК 010702101</h6>
  <h6>Р/сч 03231643077270002100</h6>
</div>
{% endblock %}
