{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#ustav"
       role="button" aria-expanded="false" aria-controls="ustav">
      Устав
    </a>
    <div class="collapse" id="ustav">
      <a href="{% static 'pdf/ustav_romashka.pdf' %}" target="_blank">
        Устав МКДОУ детского сада №50 "Ромашка"
      </a>
    </div>
  </p>
  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#license"
       role="button" aria-expanded="false" aria-controls="license">
      Лицензия
    </a>
    <div class="collapse" id="license">
      <a href="{% static 'pdf/licensia.pdf' %}" target="_blank">
        Лицензия на осуществление образовательной деятельности МКДОУ детского сада №50 "Ромашка"
      </a>
    </div>
  </p>

  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#accred"
       role="button" aria-expanded="false" aria-controls="accred">
      Государственная аккредитация
    </a>
    <div class="collapse" id="accred">
      В соответствии с Положением о государственной аккредитации образовательных учреждений и научных организаций,
      утвержденным постановлением Правительства Российской Федерации от 21.03.2011 №184, государственная
      аккредитация дошкольных образовательных учреждений <b>не проводится</b>.
    </div>
  </p>

  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#pravila"
       role="button" aria-expanded="false" aria-controls="pravila">
      Правила внутреннего распорядка обучающихся
    </a>
    <div class="collapse" id="pravila">
      <a href="{% static 'pdf/pravila_vnutrennego_rasporiadka_nesovershennoletnih.pdf' %}" target="_blank">
        Правила внутреннего распорядка дня несовершеннолетних воспитанников МКДОУ детского сада №50 "Ромашка"
      </a>
    </div>
  </p>

  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#otchet"
       role="button" aria-expanded="false" aria-controls="otchet">
      Отчет о результатах самообследования
    </a>
    <div class="collapse" id="otchet">

    </div>
  </p>

  <p class="my-3">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#local"
       role="button" aria-expanded="false" aria-controls="local">
      Локальные нормативные акты
    </a>
    <div class="collapse" id="local">
      <a href="{% static 'pdf/kollektivniy_dogovor_mkdou_romashka.pdf' %}" target="_blank">
        Коллективный договор МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_adaptatsionnom_periode.pdf' %}" target="_blank">
        Положение об адаптационном периоде воспитанников в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_obrabotke_pers_dannih_vospit_i_tretih_lits.pdf' %}" target="_blank">
        Положение об обработке пресональных данных несовершеннолетних воспитанников и третьих лиц
        МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_obschem_sobranii.pdf' %}" target="_blank">
        Положение об общем собрании трудового коллектива МКДОУ детского сада №50 "Ромашка" ст-ца Константиновская
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_OOP.pdf' %}" target="_blank">
        Положение об основной образовательной программе МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_organizatsii_kontrolno_propusknogo_rezhima.pdf' %}" target="_blank">
        Положение об организации контрольно-пропускного режима МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_vnutrenney_sisteme_otsenki_kachestva_obr.pdf' %}" target="_blank">
        Положение о внутренней системе оценки качества образования в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_vzaimodeystvii_s_semiami.pdf' %}" target="_blank">
        Положение о взаимодействии с семьями воспитанников в соответствии с ФГОС ДО
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_zaprete_kurenia.pdf' %}" target="_blank">
        Положение о запрете курения в зданиях и на прилегающей территории МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_kanikulah.pdf' %}" target="_blank">
        Положение о каникулах в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_komissii_po_uregulirovaniu_sporov.pdf' %}" target="_blank">
        Положение о комиссии по урегулированию споров между участниками образовательных отношений
        в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_lokalnom_normativnom_akte.pdf' %}" target="_blank">
        Положение о локальном нормативном акте МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_monitoringe.pdf' %}" target="_blank">
        Положение о системе мониторинга, достижения детьми целевых ориентиров и планируемых результатов освоения
        основной образовательной программы дошкольного образования в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_ob_organizatsii_pitania.pdf' %}" target="_blank">
        Положение об организации питания МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_pedagogicheskom_sovete.pdf' %}" target="_blank">
        Положение о педагогическом совете МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_pers_dannix_rabotnikov.pdf' %}" target="_blank">
        Положение об обработке персональных данных работников МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_povishenii_kvalifikatsii.pdf' %}" target="_blank">
        Положение о порядке и условиях организации повышения квалификации, получения дополнительного профессионального
        образования работниками учреждения
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_poriadke_razrabotki_i_utverzhdenia_programmi_razvitia_DOU.pdf' %}"
         target="_blank">
        Положение о порядке разработки и утвеврждения программы развития МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_propusknom_rezhime.pdf' %}" target="_blank">
        Положение об организации пропускного и внутриобъектового режимов в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_protivodeystvii_korruptsii.pdf' %}" target="_blank">
        Положение о комиссии по противодействию коррупции в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_professionalnoy_etike.pdf' %}" target="_blank">
        Положение о профессиональной этике педагогических работников МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_rabochey_programme_pedagoga.pdf' %}" target="_blank">
        Положение о рабочей программе педагога ДОУ МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_rezhime_zanatiy.pdf' %}" target="_blank">
        Положение о режиме занятий несовершеннолетних обущающихся МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_saite.pdf' %}" target="_blank">
        Положение об официальном сайте МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/Izmenenia_v_polozhenie_o_saite.pdf' %}" target="_blank">
        Изменения и дополнения в положение об официальном сайте МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_sovete_uchrezhdenia.pdf' %}" target="_blank">
        Положение о Совете Учреждения МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/polozhenie_o_yazike_obrazovania.pdf' %}" target="_blank">
        Положение о языке образования в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/poriadok_i_osnovania_perevoda_otchislenia_i_vosstanovlenia_vospitannikov.pdf' %}" target="_blank">
        Порядок и основания перевода, отчисления и восстановления воспитанников МКДОУ детского сада №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/poriadok_organizatsii_i_osuschestvlenia_deatelnosti_po_OOP.pdf' %}" target="_blank">
        Порядок организации и осуществления образовательной деятельности по основной образовательной программе
        дошкольного образования в МКДОУ детском саду №50 "Ромашка"
      </a>
      <br>
      <a href="{% static 'pdf/poriadok_prekraschenia_otnosheniy_mezhdu_DOU_i_roditelami.pdf' %}" target="_blank">
        Порядок оформления возникновения, приостановления и прекращения отношений между МКДОУ детским садом №50 "Ромашка"
        и родителфми (законными представителями) несовевршеннолетних обучающихся
      </a>
      <br>
      <a href="{% static 'pdf/poriadok_priema_detey_na_obuchenie_po_OOP.pdf' %}" target="_blank">
        Порядок приема детей на обучение по основной образовательной программе дошкольного образования
        в МКДОУ детский сад №50 "Ромашка"
      </a>
    </div>
  </p>

</div>
{% endblock %}
