{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <h4 class="my-3">Об обучении детей-инвалидов и детей с ОВЗ</h4>
  <p>Получение детьми с ограниченными возможностями здоровья и детьми-инвалидами образования является одним из основных
    и неотъемлемых условий их успешной социализации, обеспечения их полноценного участия в жизни общества, эффективной
    самореализации в различных видах профессиональной и социальной деятельности.
  </p>
  <p>
    В 2016 году Российская Федерация ратифицировала Конвенцию «О правах инвалидов», что повлекло за собой серьезные
    изменения в законодательстве. Перед системой образования на сегодняшнем этапе стоит задача по созданию для каждого
    ребёнка полноценных условий для получения образования, независимо от степени состояния его здоровья. И безусловно,
    внедрение нового образовательного стандарта для обучения детей с ограниченными возможностями здоровья – это
    механизм, позволяющий реализовать конституционное право детей с особыми образовательными потребностями н
    качественное и доступное образование. В Федеральном законе «Об образовании в РФ» № 273-ФЗ от 29.12.12 впервые
    закреплены положения об инклюзивном, то есть совместном, обучении и воспитании детей с ограниченными возможностями
    здоровья. В законе закреплено и понятие обучающегося с ограниченными возможностями здоровья (ОВЗ). Это
    «физическое лицо, имеющее недостатки в физическом и (или) психологическом развитии, подтвержденные
    психолого-медико-педагогической комиссией и препятствующие получению образования без создания специальных условий.
    К обучающимся с ОВЗ относятся такие граждане РФ, как глухие, слабослышащие, слепые, слабовидящие, с тяжелыми
    нарушениями речи, с особенностями психофизического развития, с нарушениями опорно-двигательного аппарата, в том
    числе дети-инвалиды. В части 5 статьи 41 закона четко указано, что для обучающихся, «нуждающихся в длительном
    лечении, создаются образовательные организации, в том числе санаторные, в которых проводятся необходимые лечебные,
    реабилитационные и оздоровительные мероприятия для таких обучающихся. <b>Обучение таких детей, а также детей-инвалидов,
    которые по состоянию здоровья не могут посещать образовательное учреждение, может быть также организовано
    образовательным учреждением на дому или в медицинских организациях</b>. Основанием для организации обучения на дому
    или в медицинской организации являются заключение медицинской организации и в письменной форме обращение родителей
    (законных представителей)». Эти нормы согласуются с федеральными законами «О социальной защите инвалидов в РФ»
    (ст. 19 № 181-ФЗ) и «О социальном обслуживании граждан пожилого возраста и инвалидов» (ст.12 № 122-ФЗ).
    Новый закон «Об образовании в РФ» подтвердил возможность обучения лиц с ОВЗ и по образовательным программам,
    адаптированным для них, и по индивидуальным учебным планам.
  </p>
  <a href="{% static 'pdf/pasport_dostupnosti.pdf' %}" target="_blank">
    Паспорт доступности МКДОУ детского сада №50 "Ромашка"
  </a>
  <br>
  <br>
</div>
{% endblock %}
