{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <div class="text-center">
    <p class="my-2 text-center">
      График работы Комиссии по комплектованию дошкольных образовательных учреждений
      города Пятигорска в общеразвивающие группы детских садов города Пятигорска в 2021 году.
    </p>
  </div>
  <table class="table table-bordered table-sm w-auto table-hover">
  <thead>
    <tr>
      <th scope="col" class="col-md-4">Комплектуемые детские сады</th>
      <th scope="col" class="col-md-2">Место проведения Комиссии</th>
      <th scope="col" class="col-md-2">Дата</th>
      <th scope="col" class="col-md-4">Приглашаются родители (законные представители)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" class="td-place">ПОСЕЛОК ГОРЯЧЕВОДСКИЙ ПОСЕЛОК СВОБОДЫ</td>
    </tr>
    <tr>
      <td>
        МДОУ № 3 «Ивушка»<br>
        МДОУ № 40 «Дружба»<br>
        МДОУ № 34 «Родничок»<br>
        МДОУ № 19 «Малыш»<br>
        МДОУ № 15 «Казачок»<br>
        МДОУ № 16 «Колокольчик»
      </td>
      <td>
        МБДОУ № 16 «Колокольчик»<br>
        пер. Малиновского,11
      </td>
      <td>
        5 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 3 «Ивушка»<br>
        МДОУ № 40 «Дружба»<br>
        МДОУ № 34 «Родничок»<br>
        МДОУ № 19 «Малыш»<br>
        МДОУ № 15 «Казачок»<br>
        МДОУ № 16 «Колокольчик»
      </td>
      <td>
        МБДОУ № 16 «Колокольчик»<br>
        пер. Малиновского,11
      </td>
      <td>
        6 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">ПОСЕЛОК ГОРЯЧЕВОДСКИЙ</td>
    </tr>
    <tr>
      <td>
        МДОУ № 2 «Кораблик»<br>
        МДОУ № 30 «Белочка»<br>
        МДОУ № 48 «Вишенка»<br>
        МДОУ № 41 «Планета Детства»
      </td>
      <td>
        МБДОУ № 41 «Планета детства»<br>
        Вход с ул. Краснопартизанская,8
      </td>
      <td>
        7 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 2 «Кораблик»<br>
        МДОУ № 30 «Белочка»<br>
        МДОУ № 48 «Вишенка»<br>
        МДОУ № 41 «Планета Детства»
      </td>
      <td>
        МБДОУ № 41 «Планета детства»<br>
        Вход с ул. Краснопартизанская,8
      </td>
      <td>
        8 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">МИКРОРАЙОН «БЕШТАУ-ГОРАПОСТ»</td>
    </tr>
    <tr>
      <td>
        МДОУ № 20 «Красная шапочка»<br>
        МДОУ № 44 «Саженцы»<br>
        МДОУ № 45 «Радуга»<br>
        МДОУ № 46 «Мишутка»<br>
        МДОУ № 43 «Рябинушка»
      </td>
      <td>
        МБДОУ № 20 «Красная шапочка»<br>
        ул. Краснознаменная, 47
      </td>
      <td>
        12 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 20 «Красная шапочка»<br>
        МДОУ № 44 «Саженцы»<br>
        МДОУ № 45 «Радуга»<br>
        МДОУ № 46 «Мишутка»<br>
        МДОУ № 43 «Рябинушка»
      </td>
      <td>
        МБДОУ № 20 «Красная шапочка»<br>
        ул. Краснознаменная, 47
      </td>
      <td>
        13 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">МИКРОРАЙОН «НОВОПЯТИГОРСК, СКАЧКИ»</td>
    </tr>
    <tr>
      <td>
        МДОУ № 5 «Колобок»<br>
        МДОУ № 6 «Ягодка»<br>
        МДОУ № 11 «Берёзка»<br>
        МДОУ № 36 «Красная гвоздика»<br>
        МДОУ № 38 «Журавушка»<br>
        МДОУ № 14 «Сказка»<br>
        МДОУ № 23 «Светлячок»
      </td>
      <td>
        МБДОУ № 23 «Светлячок»<br>
        ул. П. Тольятти, 40
      </td>
      <td>
        14 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-30<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-30 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 5 «Колобок»<br>
        МДОУ № 6 «Ягодка»<br>
        МДОУ № 11 «Берёзка»<br>
        МДОУ № 36 «Красная гвоздика»<br>
        МДОУ № 38 «Журавушка»<br>
        МДОУ № 14 «Сказка»<br>
        МДОУ № 23 «Светлячок»
      </td>
      <td>
        МБДОУ № 23 «Светлячок»<br>
        ул. П. Тольятти, 40
      </td>
      <td>
        15 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">МИКРОРАЙОН «ЦЕНТР»</td>
    </tr>
    <tr>
      <td>
        МДОУ № 7 им. Ю.А.Гагарина<br>
        МДОУ № 8 «Теремок»<br>
        МДОУ № 9 «Ласточка»<br>
        МДОУ № 17 «Золотой ключик»<br>
        МДОУ № 18 «Улыбка»<br>
        МДОУ № 31 «Заря»<br>
        МДОУ № 37 «Алёнушка»<br>
        МДОУ № 47 «Золотой петушок»<br>
        МДОУ № 10 «Хуторок»
      </td>
      <td>
        МБДОУ № 37 «Аленушка»<br>
        Вход с ул. Мира,69 и с ул. К. Хетагурова/ ул. Прогонная, 68
      </td>
      <td>
        19 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 7 им. Ю.А.Гагарина<br>
        МДОУ № 8 «Теремок»<br>
        МДОУ № 9 «Ласточка»<br>
        МДОУ № 17 «Золотой ключик»<br>
        МДОУ № 18 «Улыбка»<br>
        МДОУ № 31 «Заря»<br>
        МДОУ № 37 «Алёнушка»<br>
        МДОУ № 47 «Золотой петушок»<br>
        МДОУ № 10 «Хуторок»
      </td>
      <td>
        МБДОУ № 37 «Аленушка»<br>
        Вход с ул. Мира,69 и с ул. К. Хетагурова/ ул. Прогонная, 68
      </td>
      <td>
        20 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">МИКРОРАЙОН «БЕЛАЯ РОМАШКА» п. ЭНЕРГЕТИК</td>
    </tr>
    <tr>
      <td>
        МДОУ № 4 «Солнышко»<br>
        МДОУ № 24 «Звёздочка»<br>
        МДОУ № 26 «Аленький цветочек»<br>
        МДОУ № 32 «Тополёк»<br>
        МДОУ № 39 «Буратино»<br>
        МДОУ № 29 «Мамонтенок»
      </td>
      <td>
        МБДОУ № 24 «Звездочка»<br>
        ул. Зорге,4,6
      </td>
      <td>
        21 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 18-00<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td>
        МДОУ № 4 «Солнышко»<br>
        МДОУ № 24 «Звёздочка»<br>
        МДОУ № 26 «Аленький цветочек»<br>
        МДОУ № 32 «Тополёк»<br>
        МДОУ № 39 «Буратино»<br>
        МДОУ № 29 «Мамонтенок»
      </td>
      <td>
        МБДОУ № 24 «Звездочка»<br>
        ул. Зорге,4,6
      </td>
      <td>
        22 апреля 2021 года
      </td>
      <td>
        С 14-00 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
    <tr>
      <td colspan="4" class="td-place">СТАНИЦА КОНСТАНТИНОВСКАЯ</td>
    </tr>
    <tr>
      <td>
        МДОУ № 51 «Золотой орешек»<br>
        МДОУ № 50 «Ромашка»
      </td>
      <td>
        МБДОУ № 51,<br>
        ул. Ленина, 27 а<br>
        т.97-25-39
      </td>
      <td>
        26 апреля 2021 года
      </td>
      <td>
        С 14-00 до 15-00<br>
        Лица, имеющие право на льготное определение в МДОУ (не зависимо от возраста ребенка).<br>
        С 15-00 до 16-30<br>
        Родители детей, которым в 2021 году исполняется 3 года и больше согласно дате постановки на учет (по номеру протокола)<br>
        С 16-30 до 18-00<br>
        Родители детей младше трех лет согласно дате постановки на учет (по номеру протокола)
      </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
