{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8">
<div class="text-center my-3">
  <h5>
    Здравствуйте уважаемые гости!
  </h5>
</div>

<p>
  Вы находитесь на сайте МКДОУ №50 «Ромашка» и эта страничка создана специально для Вас.
</p>
<p>На нашем сайте Вы можете найти информацию о нашем дошкольном образовательном учреждении, советы и рекомендации.</p>
<p>Для нашего детского сада первостепенное значение имеют:</p>
<ul>
  <li>забота о здоровье, эмоциональном благополучии и своевременном всестороннем развитии каждого ребенка;</li>
  <li>создание в группах атмосферы гуманного и доброжелательного отношения ко всем воспитанникам, что позволяет растить их общительными, добрыми, любознательными, инициативными, стремящимися к самостоятельности и творчеству;</li>
  <li>максимальное использование разнообразных видов детской деятельности, их интеграция в целях повышения эффективности воспитательно-образовательного процесса;</li>
  <li>творческая организация (креативность) воспитательно-образовательного процесса;</li>
  <li>уважительное отношение к результатам детского творчества.</li>
  </ul>
  <p>Вышесказанное возможно только при целенаправленном влиянии педагога на ребенка с первых дней его пребывания в дошкольном образовательном учреждении. От педагогического мастерства каждого воспитателя, его культуры, любви к детям зависят уровень общего развития, которого достигнет ребенок, степень прочности приобретенных им нравственных качеств. Заботясь о здоровье и всестороннем воспитании детей, педагоги стремятся сделать счастливым детство каждого ребенка.</p>

</div>
{% endblock %}
