{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <h4 class="my-3">
    Информация о договорах с иностранными или международными организациями заключенных
    или предполагаемых в области образования и науки
  </h4>
  <p>
    На 01.06.2021 года в МКДОУ детский сад № 50 «Ромашка» города Пятигорска:<br>
    - иностранных обучающихся по основным образовательным программам – НЕТ;<br>
    - иностранных педагогических и научных работников – НЕТ;<br>
    - иностранных или международных организаций, с которыми заключены договоры по вопросам образования и науки – НЕТ
  </p>
</div>
{% endblock %}
