{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8">
  Образовательная деятельность
МКДОУ детского сада № 50 "Ромашка"
   Наш детский сад осуществляет воспитательно-образовательную деятельность по основной образовательной программе детского сада. Стратегия развития детского сада определена в Программе развития на 2021-2026гг.

Образование осуществляется на русском языке.
 Численность обучающихся по реализуемой основной образовательной программе ДОУ - 220 человек.ДОУ обеспечивает получение бесплатного дошкольного образования, присмотр и уход за воспитанниками в возрасте от 2-мес. до прекращения образовательных отношений.
Сроки получения дошкольного образования устанавливаются федеральным государственным образовательным стандартом дошкольного образования.
   Обучающихся за счет бюджетных ассигнований субъектов РФ, местного бюджета города Пятигорска и по договорам об образовании за счет средств физических лиц - 220 человек.
  <br>
  <br>
  <a href="{% static 'pdf/obr_programma.pdf' %}" target="_blank">
    Основная образовательная программа на 2021-2026 гг.
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_1gr_ran_vozr.pdf' %}" target="_blank">
    Рабочая программа для детей первой группы раннего возраста
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_2gr_ran_vozr.pdf' %}" target="_blank">
    Рабочая программа для детей второй группы раннего возраста
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_mladencheskaya_gr.pdf' %}" target="_blank">
    Рабочая программа для детей младенческой группы
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_mladshaya_gr.pdf' %}" target="_blank">
    Рабочая программа для детей младшей группы
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_sred_gr.pdf' %}" target="_blank">
    Рабочая программа для детей средней группы
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_starsh_gr.pdf' %}" target="_blank">
    Рабочая программа для детей старшей группы
  </a>
  <br>
  <br>
  <a href="{% static 'pdf/RP_podgot_gr.pdf' %}" target="_blank">
    Рабочая программа для детей подготовительной к школе группы
  </a>
</div>
{% endblock %}
