{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2 mt-3">
  <div style="text-align: center;">
    <h5>Образовательная деятельность МКДОУ детского сада № 50 "Ромашка"</h5>
  </div>
  <p>Наш детский сад осуществляет воспитательно-образовательную деятельность по основной образовательной программе детского сада. Стратегия развития детского сада определена в Программе развития на 2021-2026гг.</p>
  <p>Образование осуществляется на русском языке.</p>
  <p>Численность обучающихся по реализуемой основной образовательной программе ДОУ - 220 человек. ДОУ обеспечивает получение бесплатного дошкольного образования, присмотр и уход за воспитанниками в возрасте от 2-мес. до прекращения образовательных отношений.
  Сроки получения дошкольного образования устанавливаются федеральным государственным образовательным стандартом дошкольного образования.</p>
  <p>Обучающихся за счет бюджетных ассигнований субъектов РФ, местного бюджета города Пятигорска и по договорам об образовании за счет средств физических лиц - 220 человек.</p>
  <p>
    Содержание образовательного процесса в ДОУ определяется основными программами дошкольного образования
    общеразвивающей направленности:
  </p>
  <p style="color: red">
    Основная образовательная программа для групп общеразвивающей направленности на основе программы:
    «От рождения до школы» под редакцией Н.Е, Веракса, Т.С. Комаровой, М.А. Васильевой, М., 2015г.
  </p>
  <p>
    <a href="{% static 'pdf/uchebniy_plan.pdf' %}" target="_blank">
      Учебный план организованной образовательной деятельности общеразвивающих групп МКДОУ детского сада №50 "Ромашка"
      ст. Константиновская на 2020-2021 учебный год
    </a>
    <br><br>
    <a href="{% static 'pdf/godovoy_uchebniy_grafik.png' %}" target="_blank">
      Годовой календарный учебный график МКДОУ детского сада №50 "Ромашка" на 2021-2021 учебный год
    </a>
    <br><br>
    <a href="{% static 'pdf/programma_razvitia_mkdou.pdf' %}" target="_blank">
      Программа развития МКДОУ детского сада №50 "Ромашка"
    </a>
    <br><br>
    <a href="{% static 'pdf/metodicheskoe_obespechenie.pdf' %}" target="_blank">
      Методическое обеспечение МКДОУ детского сада №50 "Ромашка"
    </a>
    <br><br>
    <a href="{% static 'pdf/obr_programma.pdf' %}" target="_blank">
      Основная образовательная программа на 2021-2026 гг.
    </a>
    <br>
    <br>
    <a href="{% static 'pdf/RP_1gr_ran_vozr.pdf' %}" target="_blank" >
      Рабочая программа для детей первой группы раннего возраста
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_1gr_rannego_vozrasta.pdf' %}" target="_blank" >
      Аннотация к рабочей программе 1 группы раннего возраста
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_2gr_ran_vozr.pdf' %}" target="_blank">
      Рабочая программа для детей второй группы раннего возраста
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_2gr_rannego_vozrasta.pdf' %}" target="_blank">
      Аннотация к рабочей программе 2 группы раннего возраста
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_mladencheskaya_gr.pdf' %}" target="_blank">
      Рабочая программа для детей младенческой группы
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_mladencheskoy_gruppi.pdf' %}" target="_blank">
      Аннотация к рабочей программе младенческой группы
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_mladshaya_gr.pdf' %}" target="_blank">
      Рабочая программа для детей младшей группы
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_mladshey_gruppi.pdf' %}" target="_blank">
      Аннотация к рабочей программе младшей группы
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_sred_gr.pdf' %}" target="_blank" >
      Рабочая программа для детей средней группы
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_sredney_gruppi.pdf' %}" target="_blank" >
      Аннотация к рабочей программе средней группы
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_starsh_gr.pdf' %}" target="_blank">
      Рабочая программа для детей старшей группы
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_starshey_gruppi.pdf' %}" target="_blank">
      Аннотация к рабочей программе старшей группы
    </a>
    <br><br>
    <a href="{% static 'pdf/RP_podgot_gr.pdf' %}" target="_blank">
      Рабочая программа для детей подготовительной к школе группы
    </a>
    <br>
    <a href="{% static 'pdf/annotatsia_k_rabochey_programme_podgot_gruppi.pdf' %}" target="_blank">
      Аннотация к рабочей программе подготовительной группы
    </a>
    <br><br>
    <a href="{% static 'pdf/licensia.pdf' %}" target="_blank">
      Лицензия на осуществление образовательной деятельности МКДОУ детского сада №50 "Ромашка"
    </a>
  </p>
</div>
{% endblock %}
