{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <h5 class="mt-3">Руководство</h5>
  <table class="table table-bordered table-sm w-auto table-hover rukovodst-table">
    <tbody>
      <tr>
        <td class="rukovodst">
          <b>Ачакова Нонна Викторовна</b><br>
          Заведующий МКДОУ детским садом №50 «Ромашка»<br>
          Образование: высшее, Ставропольский педагогический институт<br>
          Квалификация: преподаватель дошкольной педагогики и психологии<br>
          Специальность: дошкольная педагогика и психология<br>
          Общий стаж работы: 27 лет<br>
          Стаж работы по специальности: 27 лет<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Воропинова Анастасия Владимировна</b><br>
          Заместитель заведующего по ВМР<br>
          Образование: высшее, Ставропольский педагогический институт<br>
          Квалификация: преподаватель дошкольной педагогики и психологии<br>
          Специальность: дошкольная педагогика и психология<br>
          Переподготовка: Северо-кавказский Федеральный университет<br>
          «Менеджмент в образовании»<br>
          Повышение квалификации: СКИРОПК и ПРО «Современные технологии в работе с  детьми дошкольного возраста в условиях ФГОС ДО»<br>
          Общий стаж работы: 18 лет<br>
          Стаж работы по специальности: 1 год<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Мельникова Ольга Владимировна</b><br>
          Заместитель заведующего по ФЭВ<br>
          Образование: высшее, Северо-кавказский технический университет<br>
          Квалификация: экономист<br>
          Специальность: бухгалтерский учет и аудит в бюджетных организациях<br>
          Общий стаж работы: 14 лет<br>
          Стаж работы по специальности: 5 лет<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Стукатеев Михаил Викторович</b><br>
          Заведующий хозяйством<br>
          Образование: высшее, институт экономики и управления<br>
          Квалификация: информатик-экономист<br>
          Специальность: прикладная информатика в экономике<br>
          Общий стаж работы: 8 лет<br>
          Стаж работы по специальности: 1 год<br>
        </td>
      </tr>
    </tbody>
  </table>
  <h5>Педагогический состав</h5>
  <table class="table table-bordered table-sm w-auto table-hover rukovodst-table">
    <tbody>
      <tr>
        <td class="rukovodst">
          <b>Головина Ульяна Александровна</b><br>
          Воспитатель<br>
          Образование: среднее, МИАНО<br>
          Квалификация: педагогика дошкольного и начального образования<br>
          Специальность: дошкольная педагогика <br>
          Общий стаж работы: 1 год<br>
          Стаж работы по специальности: 1 год<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Евглевская Наталья Ивановна</b><br>
          Воспитатель<br>
          Образование: среднее, Железноводское педагогическое училище<br>
          Квалификация: воспитатель детского сада<br>
          Специальность: воспитатель детского сада<br>
          Общий стаж работы: 37 лет<br>
          Стаж работы по специальности: 6 лет<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Карцева Наталья Борисовна</b><br>
          Воспитатель<br>
          Образование: высшее, Адыгейский государственный университет<br>
          Квалификация: филолог. Преподаватель русского языка и литературы<br>
          Переподготовка: ФГБОУ ВО «ПГУ»<br>
          Специальность: дошкольная педагогика<br>
          Общий стаж работы: 24 лет<br>
          Стаж работы по специальности: нет стажа<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Крутько Татьяна Ивановна</b><br>
          Воспитатель<br>
          Образование: высшее, Московский государственный университет им. М.А.Шолохова<br>
          Квалификация: педагог-психолог<br>
          Специальность: педагогика и психология<br>
          Общий стаж работы: 4 года <br>
          Стаж работы по специальности: нет стажа<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Коваленко Любовь Михайловна</b><br>
          Воспитатель<br>
          Образование: среднее, ЧПОУ «ПТЭИТ»<br>
          Квалификация: дошкольное образование<br>
          Специальность: дошкольное образование<br>
          Общий стаж работы: 11 лет<br>
          Стаж работы по специальности: 2 года<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Курбанова Пирдавс Магомедшапиевна</b><br>
          Воспитатель<br>
          Образование: среднее, Избербажский педагогический колледж<br>
          Квалификация: учитель начальных классов<br>
          Переподготовка: ЧОУ ДПО «АБиУС»<br>
          Специальность: педагогика и методика дошкольного образования<br>
          Повышение квалификации: АНОДПО «Институт современного образования»<br>
          «ФГОС дошкольного образования»<br>
          Общий стаж работы: 14 лет<br>
          Стаж работы по специальности: 1,6 года<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Курбатова Анастасия Ивановна</b><br>
          Воспитатель<br>
          Образование: высшее, Северо-кавказский ГТУ<br>
          Квалификация: юрист<br>
          Переподготовка: ГБОУ ВО «Ставропольский государственный педагогический институт»<br>
          Специальность: педагогическое образование<br>
          Квалификация : дошкольное образование<br>
          Общий стаж работы: 11 лет<br>
          Стаж работы по специальности: 1 год<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Межуева Инесса Алексеевна</b><br>
          Воспитатель<br>
          Образование: среднее , минераловодское педагогическое училище<br>
          Квалификация: воспитатель детского сада<br>
          Специальность: воспитатель детского сада<br>
          Общий стаж работы: 11 лет<br>
          Стаж работы по специальности: 6,5 лет<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Тихонова Марина Алексеевна</b><br>
          Воспитатель<br>
          Образование: среднее, минераловодское педагогическое училище<br>
          Квалификация: учитель начальных классов, воспитатель группы продленного дня<br>
          Специальность: преподавание в начальных классах образовательной школы<br>
          Общий стаж работы: 3 года<br>
          Стаж работы по специальности: 7 месяцев<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Трепалина Елена Викторовна</b><br>
          Воспитатель<br>
          Образование: среднее, ГБОУ СПО «Пятигорский техникум торговли, технологии и сервиса»<br>
          Переподготовка: Переподготовка: ЧОУ ДПО «АБиУС»<br>
          Специальность: педагогика и методика дошкольного образования<br>
          Общий стаж работы: 5 лет <br>
          Стаж работы по специальности: нет стажа<br>
        </td>
      </tr>
      <tr>
        <td class="rukovodst">
          <b>Мосина Оксана Владимировна</b><br>
          Воспитатель<br>
          Образование: высшее, Московский гуманитарно-экономический институт<br>
          Квалификация: бакалавр<br>
          Специальность: психология<br>
          Переподготовка: ГБОУ ВО «Ставропольский государственный педагогический институт»<br>
          Специальность: педагогическое образование<br>
          Специальность: дошкольное образование<br>
          Повышение квалификации: СКИРОПК и ПРО «Современные технологии в работе с детьми дошкольного возраста в условиях ФГОС ДО»<br>
          Общий стаж работы: 7 лет<br>
          Стаж работы по специальности: 7 лет<br>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
