{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8 order-md-2">
  <p>
    Согласно Постановления Правительства Ставропольского края от 23.10.20 г. № 583-п <b>размер родительской платы
    с 1 января 2021г. составляет 1730 (одна тысяча семьсот тридцать) рублей в месяц</b> из расчета за 12 часов пребывания в
    образовательной организации.
  </p>
  <h5>Порядок начисления родительской платы за пропущенные дни.</h5>
  <p>
    Во исполнение приказа Минфина России от 15.06.2020г. № 103н при начислении родительской платы за оказанные услуги по
    присмотру и уходу родительская плата не взимается в случае отсутствия ребенка в учреждении по следующим причинам:
  </p>
  <p>
    - болезнь ребенка (согласно предоставленной медицинской справки);
  </p>
  <p>
    - отпуск, санаторно-курортное лечение ребенка (по заявлению родителей (законных представителей));
  </p>
  <p>
    - карантин, объявленный в установленном действующим законодательством порядке;
  </p>
  <p>
    - закрытие учреждения на ремонтные и (или) аварийные работы, а также в иных случаях, предусмотренных действующим
    законодательством.
  </p>
  <p>
    Неявка в детский сад без уважительной причины будет оплачиваться родителями (законными представителями)
    несовершеннолетних воспитанников соразмерно пропущенным дням.
  </p>
  <h5>Льготы по оплате за присмотр и уход в детском саду.</h5>
  <p>
    МКДОУ детский сад №50 «Ромашка» предоставляет родителям (законным представителям) воспитанников <b>льготы по оплате за
    присмотр и уход в детском саду</b> согласно действующего законодательства.
  </p>
  <table class="table table-bordered table-sm w-auto table-hover">
    <tbody>
    <tr>
      <td class="col-7">
        для родителей (законных представителей), имеющих трех и более несовершеннолетних детей, за присмотр и уход за
        детьми, осваивающими образовательные программы дошкольного образования, в муниципальных образовательных
        организациях снижен размер платы на
      </td>
      <td class="col-5">
        - 40% от установленной платы на первого ребенка<br>
        - 25% от установленной платы на второго ребенка<br>
        - 15% от установленной платы на третьего ребенка
      </td>
    </tr>
    <tr>
      <td class="col-7">
        для родителей (законных представителей), один из которых является помощником воспитателя муниципальной
        образовательной организации, за присмотр и уход за детьми, осваивающими образовательные программы дошкольного
        образования, в муниципальных образовательных организациях снижен размер платы на
      </td>
      <td class="col-5">
        - 80% от установленной платы на первого ребенка<br>
        - 50% от установленной платы на второго ребенка<br>
        - 30% от установленной платы на третьего ребенка
      </td>
    </tr>
    <tr>
      <td class="col-7">
        Категория родителей (законных представителей), которые освобождены от родительской платы, в том числе:<br>
        - дети–инвалиды<br>
        - дети–сироты и дети, оставшиеся без попечения родителей<br>
        - дети с туберкулезной интоксикацией
      </td>
      <td class="col-5">
        0
      </td>
    </tr>
    </tbody>
  </table>

  <p>
    Льготу по оплате за присмотр и уход в детском саду имеют родители (законные представители) детей согласно:
  </p>
  <p>
    - Постановления администрации г. Пятигорска от 11.11.2013г. №4182 «О регулировании родительской платы за присмотр и
    уход за детьми в муниципальных образовательных организациях города-курорта Пятигорска.»;
  </p>
  <p>
    - Постановления администрации г. Пятигорска от 14.01.2014г. №05 «О внесении изменений в постановление администрации
    г. Пятигорска от 11.11.2013г. №4182 «О регулировании родительской платы за присмотр и уход за детьми в муниципальных
    образовательных организациях города-курорта Пятигорска.»»;
  </p>
  <p>
    - Постановление администрации г. Пятигорска Ставропольского края от 19.01.2015г. №75 «О внесении изменений в
    постановление администрации г. Пятигорска от 11.11.2013г. №4182 «О регулировании родительской платы за присмотр
    уход за детьми в муниципальных образовательных организациях города-курорта Пятигорска.»»
  </p>
  <h5>Компенсация части родительской платы за детский сад.</h5>
  <p>
    Согласно Постановления о порядке выплаты компенсации части родительской платы, взимаемой с родителей (законных
    представителей) за присмотр и уход за детьми в образовательных организациях города Пятигорска от 11.11.2013г. №4182
    родителям (законным представителям) на детей, посещающих образовательные организации, выплачивается компенсация:
  </p>
  <p>
    - на первого ребенка – 20% среднего размера родительской платы за присмотр и уход за ребенком в образовательной
    организации;
  </p>
  <p>
    - на второго ребенка – 50% среднего размера родительской платы за присмотр и уход за ребенком в образовательной
    организации;
  </p>
  <p>
    - на третьего ребенка – 70% среднего размера родительской платы за присмотр и уход за ребенком в образовательной
    организации.
  </p>
</div>
{% endblock %}
