{% extends 'base.html' %}
{% load bootstrap5 static %}

{% block title %}Детский сад №50 "Ромашка" г. Пятигорска{% endblock %}


{% block body %}
<div class="col-md-8">
  Структура управления МКДОУ детского сада № 50 "Ромашка"
Учредитель
Муниципальное учреждение «Управление образования администрации г.Пятигорска»
Начальник – Васютина Наталья Алексеевна
Адрес учреждения: г.Пятигорск, пл.Ленина, 2
Официальный сайт: http://gorono26.ru
Электронная почта: sekretar@pjatigorsk.ru
Телефон: 8(8793) 33-29-15
МБДОУ детский сад № 50 «Ромашка»
Заведующий – Ачакова Нонна Викторовна
Адрес учреждения: г.Пятигорск, ст-ца Константиновская,
ул. Шоссейная, здание 80
Официальный сайт: 
Электронная почта: 
Телефон: 8(8793)

Общественно-государственные органы управления ДОУ - 
Общее собрание работников коллектива, Совет учреждения, Педагогический совет

</div>
{% endblock %}
